<%- include ../../partials/karyawan_layout/header.ejs %>
<%- include ../../partials/karyawan_layout/sidebar.ejs %>

<!-- Main Content -->
<div class="main-content">
    <section class="section">
        <div class="section-header">
            <h1>Pengajuan Aduan</h1>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="text-capitalize">Form Pengajuan Aduan kehilangan</h4>
                    </div>
                    <div class="card-body">
                        <form action="/karyawan/aduan_hilang/form" method="POST" enctype="multipart/form-data">
                            <input type="hidden" class="form-control" id="lat" name="lat" value=""></input>
                            <input type="hidden" class="form-control" id="long" name="long" value=""></input>
                            <div class="form-group">
                                <label for="">Judul Aduan</label>
                                <input class="form-control" name="judul_aduan"></input>
                            </div>
                            <div class="form-group">
                                <label for="">Lokasi Barang Hilang</label>
                                <input class="form-control" name="lokasi_aduan"></input>
                                <small>Harap isi "-" jika tidak ada lokasi</small>
                            </div>
                            <div class="form-group">
                                <label>Deskripsi Barang</label>
                                <textarea class="form-control" rows="1" name="deskripsi_aduan"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlFile1">Input Photo</label>
                                <input type="file" name="foto_barang" class="form-control-file"
                                    id="exampleFormControlFile1" required>
                                <small>Foto harus memiliki format JPG/PNG/JPEG dan maksimal
                                    ukuran 10 MB</small>
                            </div>
                            <button class="btn btn-primary" style="float: right;">Kirim Aduan</button>
                            <a href="/karyawan/aduan_lapor/aduan_hilang_konfirmasi_contact" class="mr-3 btn btn-dark"
                                style="float: right;">Kembali</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<%- include ../../partials/footer.ejs %>

<script>
    const form = document.querySelector('form');
    form.addEventListener("submit", submit_geo_coords);

    function submit_geo_coords(event) {

        event.preventDefault();
        var x = document.getElementById("lat");
        var y = document.getElementById("long");

        if (navigator.geolocation) {
            console.log("Geolocation is available");
            navigator.geolocation.getCurrentPosition(function (position) {
                console.log(position.coords);
                x.value = position.coords.latitude
                y.value = position.coords.longitude;
                form.submit(); // Resubmit the form when the data is available
            });
        } else {
            console.log("Geolocation is not available");
        }
    }
</script>