<!-- Footer -->
<footer class="main-footer">
    <div class="footer-left">
        Copyright &copy; 2020 <span class="font-weight-bold">PSIK FEB UB</span>
    </div>
    <div class="footer-right">

    </div>
</footer>
</div>
</div>

<!-- General JS Scripts -->
<script src="/modules/jquery.min.js"></script>
<script src="/modules/popper.js"></script>
<script src="/modules/tooltip.js"></script>
<script src="/modules/bootstrap/js/bootstrap.min.js"></script>
<script src="/modules/nicescroll/jquery.nicescroll.min.js"></script>
<script src="/modules/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="/modules/qrcode.min.js"></script>
<script src="/javascripts/stisla.js"></script>

<!-- JS Libraies -->
<script src="/modules/jquery.sparkline.min.js"></script>
<script src="/modules/chart.min.js"></script>
<script src="/modules/owlcarousel2/dist/owl.carousel.min.js"></script>
<script src="/modules/summernote/summernote-bs4.js"></script>
<script src="/modules/chocolat/dist/js/jquery.chocolat.min.js"></script>
<script src="/modules/prism/prism.js"></script>
<script src="/modules/datatables/datatables.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<!-- Page Specific JS File -->
<script src="/javascripts/page/index.js"></script>
<script src="/javascripts/page/bootstrap-modal.js"></script>

<!-- Template JS File -->
<script src="/javascripts/scripts.js"></script>
<script src="/javascripts/custom.js"></script>
</body>

</html>