<%- include ../partials/karyawan_layout/header.ejs %>
<%- include ../partials/karyawan_layout/sidebar.ejs %>
<!-- Main Content -->
<div class="main-content">
    <section class="section">
        <div class="section-header">
            <h1>Dashboard</h1>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12">
                <% if (user.isValid === "belum divalidasi") { %>
                <div class="alert alert-danger">
                    <div class="alert-title">Akun belum divalidasi!</div>
                    <p>
                        Mohon maaf, untuk sementara waktu akun ini belum dapat menggunakan layanan SiNgadu karena belum
                        divalidasi oleh Admin. Untuk mengetahui informasi lebih lanjut silahkan ke PSIK FEB UB.
                        Terimakasih.
                    </p>
                </div>
                <% } %>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h4>Selamat Datang!</h4>
                    </div>
                    <div class="card-body">
                        <p>
                            Hi <span class=" font-weight-bold"><%= user.nama_user %></span>! Selamat datang di Sistem
                            Laporan
                            Aduan Karyawan FEB UB atau SiNgadu. SiNgadu adalah perangkat lunak dengan platform web untuk
                            mengadukan laporan di area sekitar Fakultas Ekonomi dan Bisnis Universitas Brawijaya.
                            Silahkan gunakan browser Google Chrome dan Mozilla Firefox untuk mendapatkan pengalaman
                            pengguna yang baik saat menjalankan SiNgadu.
                        </p>
                    </div>
                    <!-- <div class="card-footer">
                    </div> -->
                </div>
            </div>
        </div>
    </section>
</div>

<%- include ../partials/footer.ejs %>

<script>
    if ("geolocation" in navigator) {
        console.log("Geolocation is available");
        navigator.geolocation.getCurrentPosition((position) => {
            const lat = position.coords.latitude;
            const long = position.coords.longitude;
            const data = { lat, long };
            console.log(data.lat, data.long)
        });
    } else {
        console.log("Geolocation is not available");
    };

    function userBelumDivalidasi() {
        swal({
            title: "User Belum Divalidasi",
            text: "Maaf, untuk sekarang ini akun anda belum divalidasi sehingga tidak bisa menggunakan fitur ini. Silahkan menghubungi PSIK FEB UB untuk informasi yang lebih lanjut.",
            icon: "warning",
            // buttons: true,
            // dangerMode: true
        });
    };
</script>