<!-- Sidebar -->
<% if (user.isValid === "belum divalidasi") { %>
<div class="main-sidebar sidebar-style-2">
    <aside id="sidebar-wrapper">
        <div class="sidebar-brand">
            <a href="/karyawan">Stisla</a>
        </div>
        <div class="sidebar-brand sidebar-brand-sm">
            <a href="/karyawan">St</a>
        </div>
        <ul class="sidebar-menu">
            <% if (user.RoleId === 1) { %>
            <li class="menu-header">Dashboard</li>
            <!-- <li class="active"> -->
            <li class="<%= current_url === '/karyawan' ? 'active' : '' %>">
                <a class="nav-link" href="/karyawan"><i class="fas fa-home"></i><span>Dashboard</span></a>
            </li>
            <li class="menu-header">Aduan dan Layanan</li>
            <li class="">
                <a class="nav-link" href="#" onclick="userBelumDivalidasi()">
                    <i class="fas fa-paper-plane"></i>
                    <span>Pengajuan Aduan</span>
                </a>
            </li>
            <li class="dropdown">
                <a href="#" class="nav-link has-dropdown"><i class="fas fa-hands-helping"></i> <span>Permintaan
                        Layanan</span></a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="nav-link disabled" href="#" onclick="userBelumDivalidasi()">Peminjaman Kunci</a>
                    </li>
                    <li><a class="nav-link" href="#" onclick="userBelumDivalidasi()">Pengaduan
                            Barang Hilang</a></li>
                </ul>
            </li>
            <% } else if (user.RoleId === 9) { %>
            <li class="menu-header">Dashboard</li>
            <!-- <li class="active"> -->
            <li class="<%= current_url === '/karyawan' ? 'active' : '' %>">
                <a class="nav-link" href="/karyawan"><i class="fas fa-home"></i><span>Dashboard</span></a>
            </li>
            <li class="menu-header">Aduan dan Layanan</li>
            <li class="">
                <a class="nav-link" href="#" onclick="userBelumDivalidasi()">
                    <i class="fas fa-paper-plane"></i>
                    <span>Pengajuan Aduan</span>
                </a>
            </li>
            <% } %>
        </ul>

        <div class="mt-4 mb-4 p-3 hide-sidebar-mini">
            <a href="/logout" class="btn btn-danger btn-lg btn-block btn-icon-split">
                <i class="fas fa-sign-out-alt"></i>
                Logout
            </a>
        </div>
    </aside>
</div>
<% } else { %>
<div class="main-sidebar sidebar-style-2">
    <aside id="sidebar-wrapper">
        <div class="sidebar-brand">
            <a href="/karyawan">Stisla</a>
        </div>
        <div class="sidebar-brand sidebar-brand-sm">
            <a href="/karyawan">St</a>
        </div>
        <ul class="sidebar-menu">
            <% if (user.RoleId === 1) { %>
            <li class="menu-header">Dashboard</li>
            <!-- <li class="active"> -->
            <li class="<%= current_url === '/karyawan' ? 'active' : '' %>">
                <a class="nav-link" href="/karyawan"><i class="fas fa-home"></i><span>Dashboard</span></a>
            </li>
            <li class="menu-header">Aduan dan Layanan</li>
            <li class="<% if (current_url == '/karyawan/aduan_lapor') { %>
                    active
                <% }  else  if (current_url == '/karyawan/aduan_lapor/form') { %>
                    active
                <% } else if (current_url == '/karyawan/aduan_lapor/komentar') { %>
                    active
                <% } %> ">
                <a class="nav-link" href="/karyawan/aduan_lapor">
                    <i class="fas fa-paper-plane"></i> <span>Pengajuan
                        Aduan</span></a>
            </li>
            <li class="dropdown">
                <a href="#" class="nav-link has-dropdown"><i class="fas fa-hands-helping"></i> <span>Permintaan
                        Layanan</span></a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="nav-link disabled" href="/karyawan/pinjam_kunci">Peminjaman Kunci</a>
                    </li>
                    <li><a class="nav-link" href="/karyawan/aduan_hilang">Pengaduan Barang Hilang</a></li>
                </ul>
            </li>
            <% } else if (user.RoleId === 9) { %>
            <li class="menu-header">Dashboard</li>
            <!-- <li class="active"> -->
            <li class="<%= current_url === '/karyawan' ? 'active' : '' %>">
                <a class="nav-link" href="/karyawan"><i class="fas fa-home"></i><span>Dashboard</span></a>
            </li>
            <li class="menu-header">Aduan dan Layanan</li>
            <li class="">
                <a class="nav-link" href="#" onclick="userBelumDivalidasi()">
                    <i class="fas fa-paper-plane"></i>
                    <span>Pengajuan Aduan</span>
                </a>
            </li>
            <% } %>
        </ul>

        <div class="mt-4 mb-4 p-3 hide-sidebar-mini">
            <a href="/logout" class="btn btn-danger btn-lg btn-block btn-icon-split">
                <i class="fas fa-sign-out-alt"></i>
                Logout
            </a>
        </div>



    </aside>
</div>
<% } %>