<%- include ../../partials/satpam_layout/header.ejs %>
<%- include ../../partials/satpam_layout/sidebar.ejs %>

<!-- Main Content -->
<div class="main-content">
    <section class="section">
        <div class="section-header">
            <h1>Manajemen User</h1>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h4>Form Tambah User</h4>
                    </div>
                    <div class="card-body">
                        <form action="/satpam/pinjam_kunci/tambah_kunci" method="POST">
                            <div class="form-group">
                                <label>Nama Ruangan</label>
                                <input type="text" class="form-control" required name="nama_ruangan">
                            </div>
                            <div class="form-group">
                                <label>Status Kunci</label>
                                <select class="form-control text-capitalize" name="status_kunci" required>
                                    <option value="" class="text-capitalize">--Pilih Status Kunci--</option>
                                    <option class="text-capitalize" value="tersedia">Tersedia</option>
                                    <option class="text-capitalize" value="renovasi">Renovasi</option>
                                    <option class="text-capitalize" value="tidak tersedia">Tidak Tersedia</option>
                                    <option class="text-capitalize" value="dipinjam">Dipinjam</option>
                                </select>
                            </div>
                            <!-- <div class="form-group">
                                <label for="">Foto Profil</label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="inputGroupFile01"
                                        aria-describedby="inputGroupFileAddon01">
                                    <label class="custom-file-label" for="inputGroupFile01">Choose
                                        file</label>
                                </div>
                            </div> -->
                            <button class="btn btn-primary" style="float: right;">Tambah Kunci</button>
                            <a href="/satpam/pinjam_kunci/daftar_kunci" class="btn btn-dark mr-3"
                                style="float: right;">Kembali</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<%- include ../../partials/footer.ejs %>